html {
    box-sizing: border-box;
}   
*, *:before, *:after {
    box-sizing: inherit;
      }
body {
    font-family: Raleway, sans-serif;
    font-size: 17px;
    min-width: 300px;
    margin: 0;
}
.fas {
    color: #0065FC;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    color: #0065FC;
}
.text-heading {
    font-weight: bold;
    font-size: 24px;
}
.text-subheading {
    font-weight: 900;
    font-size: 19px;
}
header {
    display: flex;
    height: 60px;
    width: 98%;
    margin: 10px 20px 30px 20px;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 65%;
}
#logo {
    width: 140px;
    object-fit: cover;
    height: 60px;
}
.header-link {
    color: #0065FC;
}
.header-link:hover {
    color: black;
}
.sign-up-link {
    color: #0065FC;
}
.sign-up-link:hover {
    color: black;
}
.description {
    margin: 20px 20px 10px 20px;
}
.sub-description {
    margin: 0 0 20px 20px;
}
.search {
    display: flex;
    border-style: solid;
    width: 405px;
    height: 45px;
    margin: 10px 10px 20px 20px;
    border-radius: 20px;
    border-color: #F2F2F2;
}
.location-icon {
    background-color: #F2F2F2;
    padding: 10px;
    border-radius: 18px 0 0 18px;
    width: 13.79%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-map-marker-alt {
    color: black;
    display: flex;
}
.search-input {
    width: 62.09%;
    border: none;  
    outline: none;
    padding: 0 0 0 15px;
}
input {
    font-size: 19px;
    font-weight: bold;
}
::placeholder {
    color: black;
    font-weight: bold;
    
}
.search-button {
    padding: 10px;
    background-color: #0065FC;
    background-clip: padding-box;
    border-radius: 0 18px 18px 0;
    color: white;
    width: 24.14%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filters-bar {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 30px 10px 30px 20px;
    width: 100%;
    height: 45px;
}
.filter {
    border-style: none;
    box-shadow: 0 0 0px 1px #F2F2F2 inset;
    border-radius: 27.5px;
    height: 100%;
    display: flex;
    justify-content: left;
    min-width: fit-content;
    margin: 0 13px;
}
.filters-title {
    margin: 0 20px 0 10px;
}
.filter-icon {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 100%;
    background-color: #DEEBFF;
}
.filters-name {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px 0 10px;
    height: 100%;
}
.info {
    margin: 0 20px 20px 20px;
    display: flex;
    padding: 0 0 0 10px;
}
.info-text {
    padding: 0 0 0 10px;
    width: 430px;
}
.results {
    width: 100%;
    height: 628.7px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 60px 0;

}
.accommodations {
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 65.69%;
    height: 100%;
    margin: 0 20px 0 20px;
}
.acc-title {
    width: 100%;
    height: 14.74%;
    display: flex;
    align-items: center;
    padding: 0px 0 0 35px;
}
.hotels-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 40px;
    height: 68.42%;
}
.hotels {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 28.36%;
    height: 46.15%;
    position: relative;
}
.acc-img-container {
    position: relative;
    overflow: hidden;
    height: 58.33%;
}
.hit {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.acc-info-container {
    display: flex;
    flex-direction: column;
    height: 41.67%;
    padding: 5px 0 0 10px;
}
.hotel-name {
    width: 100%;
    height: 33.3%;
}
.hotel-cost {
    width: 100%;
    height: 33.3%;
}
.stars {
    display: flex;
    height: 33.3%;
}
.gray-star {
    color: #F2F2F2;
}
.acc-more {
    width: 100%;
    height: 16.84%;
    padding: 0 0 10px 40px;
    display: flex;
    align-items: center;
}
.popular {
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 31.37%;
    min-width: 300px;
    border-radius: 10px;
    height: 100%;
    margin: 0 20px 0 0;
}
.pop-header {
    display: flex;
    justify-content: space-between;
    height: 14.74%;
    padding: 0 9.38%;
    align-items: center;
}
.pop-results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80%;
}
.popular-hotels {
    display: flex;
    background-color:white;
    border-radius: 10px;
    height: 28.75%;
    width: 81.25%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
    position: relative;
    margin: 0 auto;
}
.pop-hotel-img {
    width: 36.54%;
}
.popular-hit {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}
.pop-hotel-info {
    display: flex;
    flex-direction: column;
    width: 63.46%;
    padding: 8px 10px;
}
.pop-hotel-name {
    height: 45%;
}
.pop-hotel-cost {
    height: 35%;
}
.pop-stars {
    height: 20%;
    align-items: flex-end;
}
.act-title {
    margin: 0 0 0 20px;
}
.activites {
    display: flex;
    height: 450px;
    justify-content: space-between;
    margin: 15px;
}
.act-column-1 {
    width: 22.43%;
}
.act-container {
    height: 100%;
    position: relative;
}
.act-img-1 {
    height: 86.76%;
}
.act-title-1 {
    height: 13.24%;
}
.act-column-2 {
    width: 22.43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.act-container-2 {
    height: 51.4%;
    position: relative;
}
.act-container-5 {
    height: 41.18%;
    position: relative;
}
.act-img-2 {
    height: 75%;
}
.act-title-2 {
    height: 25%;
}
.act-img-5 {
    height: 65.38%;
}
.act-title-5 {
    height: 34.62%;
}
.act-column-3 {
    width: 22.43%;
}
.act-img-3 {
    height: 86.76%;
}
.act-title-3 {
    height: 13.24%;
}
.act-column-4 {
    width: 22.43%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.act-container-4 {
    height: 44.12%;
    position: relative;
}
.act-container-6 {
    height: 47.06%;
    position: relative;
}    
.act-img-4 {
    height: 70%;
}
.act-title-4 {
    height: 30%;
}
.act-img-6 {
    height: 71.86%;
}
.act-title-6 {
    height: 28.14%;
}
.act-imgs {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.act-titles {
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    box-shadow: 0 6px 20px 0 #F2F2F2;
}
footer {
    display: flex;
    flex-wrap: wrap;
    background-color:  #F2F2F2;
    padding: 20px;
    margin-top: 50px;
}
.footer-category {
    display: flex;
    flex-direction: column;
    width: 33.3%    ;
}
.footer-title {
    padding: 20px 0 10px 10px;
}
.footer-link {
    padding: 5px 0 5px 10px;
}
.filter:hover {
    background-color: #0065FC;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #0065FC
}

.fa-chart-line  {
    color: black;
}
.link-container {
    position: relative;
}
.clickable {
    position: absolute;
    width: 100%;
    height: 100%;
}
.fa-info {
    width: 25px;
    height: 25px;
    border-style: solid;
    border-color: #DEEBFF;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}

@media all and (max-width:600px) {
    header {
        flex-wrap: wrap;
        width: 96%;
        height: 120px;
        align-items: flex-end;
    }
    .logo {
        width: 50%;
        height: 40px;
        position: relative;
        bottom: 10px;
        padding-left: 10px; 
    }
    .links {
        width: 50%;
        flex-wrap: wrap;
    }
    #sign-up {
        width: 50%;
        order: 2;
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 10px;
        padding-right: 10px;
    }
    .section-title {
        width: 50%;
        display: flex;
        justify-content: center;
        border-bottom: #F2F2F2 solid 3px;
        padding: 0 0 10px 0;
    }
    .header-link {
        color: black;
    }
    .header-link-1 {
        color: #0065FC;
    }
    .section-1 {
        order: 3;
        border-color: #0065FC;
    }   
    .section-2 {
        order: 4;
    }
    .search {
        width: 355px;
        margin: 0 0 0 20px;
    }
    .filters-bar {
        width: 100%;   
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 0 0 20px;
    }
    .filters-title {
        width: 100%;
        margin-top: 30px;
    }
    .filter {
        margin: 10px 13px 0 0;
        height: 45px;
    }
    .filter-1 {
        order: 1;   
    }
    .filter-2 {
        order: 3;   
    }
    .filter-3 {
        order: 2;  
    }
    .filter-4 {
        order: 4;
    }
    .info {
        width: 100%;
        height: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .results {
        width: 100%;
        flex-direction: column-reverse;
        height: auto;
        margin: 30px 0;
    }
    .popular {
        width: 100%;
        margin: 0;
    }
    .pop-header {
        margin: 10px 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .pop-results {
        width: 100%;
    }
    .popular-hotels {
        margin: auto;
        width: 92%;
        display: flex;
        margin-bottom: 10px;
    }
    .pop-hotel-img {
        width: 120px;
        height: 120px;
    }    
    .accommodations {
        width: 100%;
        background-color: white;
        margin: 0;
    }
    .acc-title {
        padding-left: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .hotels-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hotels {
        width: 92%;
        margin: auto;
    }
    .acc-img-container {
        height: 120px;
    }
    .acc-info-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
    }
    .acc-more {
        margin-top: 20px;
        padding: 0 0 0 5px;

    }
    .activites {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        height:fit-content;
    }
    .act-column-1 {
        width: 100%;
        min-width: 300px;
    }
    .act-column-2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        min-width: 300px;
    }
    .act-column-3 {
        width: 100%;
        min-width: 300px;
    }
    .act-column-4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        min-width: 300px;
    }
    .act-img-container {
        height: 125px
    }
    .act-titles {
        height: 55px;
    }
    .footer {
        display: flex;
        flex-direction: column;
    }
    .footer-category {
        width: 100%;
    }
}